.mainBurgerConstructor {
    margin: 100px 0px 0px 20px;
    max-width: 600px;
    max-height: 570px;
}

.burgerConstructor {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.constructorElement {
    display: block;
    justify-content: end;
    overflow-x: hidden;
    padding-inline-start: 16px;
    max-height: 450px;
}

.liConstructorElement {
    align-items: center;
    justify-content: end;
    margin: 6px 0px;
    min-height: 80px;
    list-style-type: none;
}

.liConstructorElement svg {
    margin-right: 8px;
}

.check {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: end;
    gap: 40px;
}

.pay {
    display: flex;
    align-items: center;
}

.buttonOn {
    animation: fadeIn .1.5s normal;
}