.mainIngredient {
    margin-top: 20px;
    max-width: 600px;
    scrollbar-color: #F2F2F3 #8585AD;
}

.ingredients{
    text-align: center;
    margin: 20px 16px;
}

.array {
    display: grid;
    grid-template-columns: repeat(2, 270px);
    overflow-x: hidden;
    width: 585px;
    height: 350px;
    padding-inline-start: 0px;
    gap: 24px;
}

.ulIngredients {
    height: 208px;
    width: 272px;
    box-sizing: border-box;
    cursor: pointer;
    list-style: none;
    padding-inline-start: 0px;
}
li svg {
    margin-left: 12px;
}