.liIngredients {
    text-align: center;
    margin: 20px 8px 20px 8px;
    height: 208px;
    width: 272px;
    box-sizing: border-box;
    cursor: pointer;
    list-style: none;
    padding-inline-start: 0px;
    position: relative;
}
li svg {
    margin-left: 12px;
}
.count {
    position: absolute;
    top: 0;
    right: 0;
}