header {
    background-color: #1C1C21;
    border: 2px solid #4C4CFF;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
    font-family: "Jet Brains Mono", Arial, sans-serif;
    font-weight: 400;
}
.containerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: auto;
    height: 88px;
}

nav {
    display: flex;
    align-items: center;
    order: -1;
}

nav, .aConstructor, .aLineOrder, .logo, .lk {
    flex: 1;
}


.aConstructor, .aLineOrder {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    border-radius: 40px;
    margin: 0 4px;
}

.logo {
    display: flex;
    justify-content: center;
}

.lk {
    display: flex;
    justify-content: end;
}

.lkContainer {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 8px 16px;
    border-radius: 40px;
}

header a {
    color: #8585AD;
    cursor: pointer;
}

header a:hover {
    color: #F2F2F3;
}

@media (max-width: 1190px) {
    .aConstructor, .aLineOrder, .lkContainer {
        padding: 0px;
    }
}


