header {
    background-color: #1C1C21;
    border: 2px solid #4C4CFF;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
    font-family: "Jet Brains Mono", Arial, sans-serif;
    font-weight: 400;
}
.containerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: auto;
    height: 88px;
}


nav, .lineOrder, .logo, .lk {
    flex: 1;
}

nav {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 16px 0px;
}

.lineOrder {
    display: flex;
}

.aLink {
    display: flex;
    align-items: center;
    border-radius: 40px;
    padding: 0px 20px;
}
.aLink:hover > svg {
    fill: #f2f2f3;
}


.logo {
    display: flex;
    justify-content: center;
}

.lk {
    display: flex;
    justify-content: end;
}

.lkContainer {
    display: flex;
    justify-content: end;
    align-items: center;
    border-radius: 40px;
    padding: 0px 20px;
}
.lkContainer:hover > svg {
    fill: #f2f2f3;
}


header a {
    color: #8585AD;
    cursor: pointer;
    text-decoration: none;
}

header a:hover {
    color: #F2F2F3;
}

.active p {
    color: #F2F2F3;
}



@media (max-width: 1190px) {
    .aLink .lkContainer {
        padding: 0px;
    }
}


